.form {
    width: 100%;

    .form__control {
        margin-bottom: 15px;
    }
    .form__label {
        display: block;
        text-align: left;
        font-size: 14px;
        margin-bottom: 5px;
        color: $white;
    }
    .form__input {
        display: block;
        width: 100%;
        padding: 5px 10px;
        box-sizing: border-box;
        border: 1px solid $white;
        border-radius: 4px;
    }
    textarea.form__input {
        resize: none;
        height: 300px;
    }
    .form__submit {
        background: $red;
        width: 100%;
        border: 1px solid $red;
        padding: 5px 15px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background: darken($red, 20);
            border-color: darken($red, 20);
        }
    }
}